:root{
    --primary-nav-color: #d0ece9;
    --light-bg-color: #93a8af;
    --primary-tekst-color: #c4e3e0;
    --primary-hover-color: #ef9536;
    --primary-dark-tekst-color: #1f092e;
    --dark-bg-color: #14293a;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    width: 100%;
    background-color: var(--dark-bg-color);
}

header {
    position: absolute;
    display: flex;
    justify-content: end;
    top: 0;
    left: 0;

    width: 100%;
    height: 100px;

    background-color: transparent;

    z-index: 100;
}

.logo-button {
    position: fixed;
    top: 0.8rem;
    right: 0.5rem;

    background: none;
    border: none;
    padding: 0;

    filter: drop-shadow(5px 5px 2px var(--dark-bg-color));

    z-index: 100;
}

.logo {
    width: 7rem;
    display: block;


    animation: rystOgDrej 0.8s ease-in-out;
}
@keyframes rystOgDrej {
    0%   { transform: translateX(0) rotate(0deg); }
    10%  { transform: translateX(-8px) rotate(-3deg); }
    20%  { transform: translateX(7px) rotate(2.5deg); }
    30%  { transform: translateX(-6px) rotate(-2deg); }
    40%  { transform: translateX(5px) rotate(1.5deg); }
    50%  { transform: translateX(-4px) rotate(-1deg); }
    60%  { transform: translateX(3px) rotate(0.5deg); }
    70%  { transform: translateX(-2px) rotate(-0.5deg); }
    80%  { transform: translateX(1px) rotate(0.2deg); }
    90%  { transform: translateX(-0.5px) rotate(-0.1deg); }
    100% { transform: translateX(0) rotate(0deg); }
}
.logo-button:hover .logo {
    transform: scale(1.1);

    filter: drop-shadow(0 0 5px rgb(193, 6, 193));
}

.nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 0;
    background-color: var(--dark-bg-color);
    width: 250px;
    border-radius: 15px 0 180px 15px;
    overflow: hidden;

    max-height: 0;
    opacity: 0;

    transition:
            max-height 0.4s ease,
            opacity 0.3s ease;
}
.nav.active {
    max-height: 500px;
    opacity: 1;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-color: var(--primary-hover-color);
}

.nav a {
    display: block;

    color: var(--primary-tekst-color);
    text-decoration: none;

    font-size: 2rem;
    font-family: Gaegu;

    padding: 1rem 1.5rem;

    transition:
            background-color 0.2s ease,
            color 0.2s ease;
}
.nav a:hover{
    color: var(--primary-hover-color);


    background-color: rgba(255, 255, 255, 0.08);
    cursor: pointer;
}
nav a.page-active {
    color: var(--primary-hover-color);

    background-color: rgba(255, 255, 255, 0.08);
}



/*Mobil*/
@media (max-width: 600px) {

}

/*TABLET AND UP*/
@media (min-width: 601px) and (max-width: 900px) {

}
