@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&display=swap');

:root{
    --primary-nav-color: #d0ece9;
    --light-bg-color: #93a8af;
    --primary-tekst-color: #c4e3e0;
    --primary-hover-color: #ef9536;
    --primary-dark-tekst-color: #1f092e;
    --dark-bg-color: #14293a;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.7)),
    url("assets/paper-bg.jpg");

    overflow-x: hidden;
    width: 100%;
    cursor: none;
}
a, button, .clickable {
    cursor: none;
}
.cursor-dot {
    width: 20px;
    height: 25px;

    background-image: url('assets/mus.svg');
    background-size: cover;
    background-position: center;

    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
}
.cursor-dot.cursor-image-hover {
    background-image: url('assets/mus hover.svg');
}

header {
    position: absolute;
    display: flex;
    justify-content: end;
    top: 0;
    left: 0;

    width: 100%;
    height: 100px;

    background-color: transparent;

    z-index: 100;
}

.logo-button {
    position: fixed;
    top: 0.8rem;
    right: 0.5rem;

    background: none;
    border: none;
    padding: 0;

    filter: drop-shadow(5px 5px 2px var(--dark-bg-color));

    z-index: 100;
}

.logo {
    width: 7rem;
    display: block;


    animation: rystOgDrej 0.8s ease-in-out;
}
@keyframes rystOgDrej {
    0%   { transform: translateX(0) rotate(0deg); }
    10%  { transform: translateX(-8px) rotate(-3deg); }
    20%  { transform: translateX(7px) rotate(2.5deg); }
    30%  { transform: translateX(-6px) rotate(-2deg); }
    40%  { transform: translateX(5px) rotate(1.5deg); }
    50%  { transform: translateX(-4px) rotate(-1deg); }
    60%  { transform: translateX(3px) rotate(0.5deg); }
    70%  { transform: translateX(-2px) rotate(-0.5deg); }
    80%  { transform: translateX(1px) rotate(0.2deg); }
    90%  { transform: translateX(-0.5px) rotate(-0.1deg); }
    100% { transform: translateX(0) rotate(0deg); }
}
.logo-button:hover .logo {
    transform: scale(1.1);

    filter: drop-shadow(0 0 5px rgb(193, 6, 193));
}

.nav{
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 0;
    background-color: var(--dark-bg-color);
    width: 250px;
    border-radius: 15px 0 180px 15px;
    overflow: hidden;

    max-height: 0;
    opacity: 0;

    transition:
            max-height 0.4s ease,
            opacity 0.3s ease;
}
.nav.active {
    max-height: 500px;
    opacity: 1;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-color: var(--primary-hover-color);
}

.nav a {
    display: block;

    color: var(--primary-tekst-color);
    text-decoration: none;

    font-size: 2rem;
    font-family: Gaegu;

    padding: 1rem 1.5rem;

    transition:
            background-color 0.2s ease,
            color 0.2s ease;
}
.nav a:hover{
    color: var(--primary-hover-color);

    background-color: rgba(255, 255, 255, 0.08);
}
nav a.page-active {
    color: var(--primary-hover-color);

    background-color: rgba(255, 255, 255, 0.08);
}

/*remember the h and p under container*/
.portfolio_head {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}
.h1_front {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    font-family: Tahoma;
    font-size: 15vw;

    color: var(--primary-dark-tekst-color);

    margin-top: 6rem;
    margin-bottom: 8rem;

    z-index: 3;

    will-change: transform;
}
.p_back {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 32vw;
    font-family: Gaegu;
    color: rgba(208, 236, 233, 0.09);

    z-index: 2;

    will-change: transform;
}
.port_quickview{
    display: flex;
    justify-content: center;
    font-family: Tahoma;
    color: var(--primary-dark-tekst-color);
    font-size: 3rem;

    padding: 2rem;
    margin-bottom: 1rem;
}
.port_quickview p{
    font-size: 2vw;
}

.portfolio_grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    min-height: 100vh;
}
.portfolio_nav_right{
    margin: 2rem;
}
.port_list_right{
    list-style-type: none;
}
.portfolio_nav_right h2{
    display: flex;
    justify-content: start;
    font-family: Gaegu;
    font-size: clamp(15px, 12vw, 30px);
    border-bottom: 1px solid;
}
.portfolio_nav_right ul li a{
    text-decoration: none;
    font-size: clamp(8px, 7vw, 17px);
    display: flex;
    justify-content: start;
    font-family: Tahoma;

    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
    padding: 0.5rem;
    color: var(--primary-dark-tekst-color);
}
.portfolio_nav_right ul li a:hover{
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
}
.portfolio_gallery {
    columns: 2;
    column-gap: 12px;
    transition:
            background-color 0.2s ease,
            color 0.2s ease;
}
.portfolio_gallery img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 12px;
    border-radius: 10px;

    break-inside: avoid;
    transition: transform 0.3s ease;
}
.portfolio_gallery img:hover{
    transform: scale(1.05);
}
.portfolio_nav_left{
    margin: 2rem;
    margin-left: 0;
}
.portfolio_nav_left h2{
    display: flex;
    justify-content: start;
    font-family: Gaegu;
    text-align: center;
    font-size: clamp(15px, 12vw, 30px);
    border-bottom: 1px solid;
}

.footer-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

    margin-top: 1rem;

    background-color: var(--light-bg-color);
}
.footer-nav h2{

    font-size: clamp(15px, 12vw, 30px);
    font-family: Gaegu;
    font-weight: bold;

    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-bottom: 1px solid;
}
.footer-nav p{
    font-size: clamp(10px, 8vw, 20px);
}
.footer-list{
    list-style-type: none;

}
.footer-list li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.footer-list li a{
    text-decoration: none;
    font-size: clamp(8px, 7vw, 17px);
    font-family: Tahoma;
    color: var(--primary-dark-tekst-color);
}
.footer-list a:hover{
    transform: scale(1.1);
}
.img-words{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Gaegu;
}
.footer-logo{
    width: 7rem;
}

/*Mobil*/
@media screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .middle-grid {
        columns: 1;
    }
}

/*TABLET AND UP*/
@media (min-width: 601px) and (max-width: 900px) {

}
