
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    min-height: 80px;

    position: sticky;
    top: 0;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 2rem;

    background-color: #14293a;
}
    .logo {
        display: flex;
        align-items: center;

        text-decoration: none;
        color: azure;

        font-size: 1.2rem;
    }

    .logo-circle {
        width: 58px;
        height: 58px;

        margin-right: -10px;

        border-radius: 50%;
        background-color: #ccc;
    }


    nav {
        display: flex;
        gap: 10px;
    }

    nav a {
        display: flex;
        align-items: center;
        justify-content: center;

        min-width: 105px;
        height: 55px;

        color: azure;
        text-decoration: none;
        font-size: 20px;

        border-radius: 3px;
    }
    .nav a:hover {
        background-color: rgba(193, 6, 193, 0.4);
        transform: scale(1.2);
    }

    .burger {
        display: none;

        border: none;
        background: transparent;

        padding: 0.5rem;

        font-size: 1.875rem;
        color: #1f092e;

        cursor: pointer;
    }

.hero {
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: center;

    padding: 2rem;
    min-height: calc(100vh - 80px);
}

    .hero-image {
        position: absolute;
        inset: 0;

        width: 100%;
        height: 100%;

        object-fit: cover;

        z-index: 0;
    }

    .hero::after {
        content: "";

        position: absolute;
        inset: 0;

        background: linear-gradient(
                to top,
                rgba(0, 0, 0, 1) 0%,
                rgba(0, 0, 0, 0.97) 3%,
                rgba(0, 0, 0, 0.86) 7%,
                rgba(0, 0, 0, 0.75) 25%,
                rgba(0, 0, 0, 0.64) 35%,
                rgba(0, 0, 0, 0.37) 70%,
                rgba(0, 0, 0, 0.1) 100%
        );

        z-index: 1;
    }

    .hero-intro {
        position: relative;

        z-index: 2;
        max-width: 700px;

        display: flex;
        flex-direction: column;
        top: 10rem;
    }

    .hero-intro h1 {
        font-family: monospace;
        font-size: clamp(35px, 7vw, 60px);
        color: #9ac1be;
    }

    .hero-intro p {
        padding: 1rem 0 3rem 0;
        font-size: clamp(15px, 3vw, 17px);
        color: #9ac1be;
        font-family: Tahoma;
    }

.portfolio-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: clamp(1rem, 5vw, 5rem);
    background-color: #93a8af;
    color: azure;

    z-index: 2;
}
.portfolio-container h2 {
    display: block;
    font-size: 2em;
    margin: 0 0 10px 0;

    font-family: Tahoma;
    color: #1f092e;
}
.portfolio-container p {
    margin: 0 0 30px 0;
    font-size: 1.1em;
    color: #1f092e;
    font-family: Tahoma;
}
    .portfolio-teaser {
        display: grid;

        filter: blur(3px);

        grid-template-columns: repeat(3, minmax(0, 1fr));
        width: min(78vw, 1200px);
        gap: clamp(0.5rem, 1.5vw, 1.5rem);
    }

    .portfolio-teaser img {
        display: flex;
        flex-wrap: wrap;

        aspect-ratio: 1 / 1;

        width: 100%;
        height: 100%;
        object-fit: cover;
        grid-column: span 1;
    }
.portfolio-more{
    position: relative;
    bottom: 29vw;

    color: #1f092e;
    background-color: azure;

    font-size: clamp(1rem, 2vw, 2rem);
    font-family: Tahoma;
    font-weight: bold;

    padding: clamp(1rem, 3vh, 2rem);
    border-radius: 50px;
    border: 2px solid rgb(31, 9, 46);

    cursor: pointer;
}
.portfolio-more:hover{
    transform: scale(1.1);
    color: #c106c1;
}


@media (max-width: 768px) {

    header {
        position: sticky;
        top: 0;
    }

        .burger {
            display: block;
            color: azure;

        }

        .nav {
            display: none;

            position: absolute;
            top: 100%;
            right: 0;

            flex-direction: column;
            gap: 0;

            width: 200px;
            padding: 0.5rem;

            background-color: rgb(20, 41, 58);
        }

        .nav.active {
            display: flex;
            padding: 15px;
            border-radius: 100px 0 100px 100px;
        }

        .nav a {
            width: 100%;
            padding: 0.75rem;
            margin: 2px 0;
        }
        .nav a:hover {
            background-color: transparent;
            color: #c106c1;
            transform: scale(1.5);
        }

    .hero{
        padding: 5rem 0 2rem 2rem;
    }

    .hero-intro p{
        padding: 1rem 7rem 0 0
    }
.portfolio-container h2{
    margin: 0 0 30px 0;
    text-align: center;
}
.portfolio-teaser{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
    gap: 10px;
}
.portfolio-container p{
    text-align: center;
}

.portfolio-more{
    position: relative;
    bottom: 72vw;
    font-size: 5vw;
    padding: 15px 25px;
}
}

